name: Deploy
on:
  workflow_dispatch:
    inputs:
      targetlob:
        type: choice
        description: Target LOB to deploy
        required: true
        options:
          - CMRegressionTestApp
          - CMOPTAccountTypeCallReason
          - CMOPTITSS
                
      rule_package_name:
        type: choice
        description: Rule package name
        required: true
        options:
          - cmoptaccounttypecallreason.inbound.rt
          - cmoptitss.inbound.rt
          - cmoptrxspecialitycampaignname.inbound.rt
          - cmoptrxspecialityclientname.inbound.rt
          - cmoptrxspecialitytherapycode.inbound.rt
          - cmregressiontestapp.inbound.rt
          - cmuhccallerintent.inbound.rt
          - cmuhccrosschannel.inbound.rt
          - cmuhccseligibility.inbound.rt
          - cmuhccsrouting.inbound.rt
          - cmuhcdental.inbound.rt
          - cmuhceiclaimsdenial.inbound.rt
          - cmuhceifastpass.inbound.rt
          - cmuhceiprime.inbound.rt
          - cmuhceirouting.inbound.rt
          - cmuhceispecialtyivr.inbound.rt
          - cmuhcmrproviderrestriction.inbound.rt
          - cmuhcmrrouting.inbound.rt
          - cmuhcpacrouting.inbound.rt
          - cmuhcrepeatcaller.inbound.rt
          - cmuhcvision.inbound.rt
          - cmoptaccounttypecallreason.inbound.rt.hotfix
          - cmoptitss.inbound.rt.hotfix
          - cmoptrxspecialitycampaignname.inbound.rt.hotfix
          - cmoptrxspecialityclientname.inbound.rt.hotfix
          - cmoptrxspecialitytherapycode.inbound.rt.hotfix
          - cmregressiontestapp.inbound.rt.hotfix
          - cmuhccallerintent.inbound.rt.hotfix
          - cmuhccrosschannel.inbound.rt.hotfix
          - cmuhccseligibility.inbound.rt.hotfix
          - cmuhccsrouting.inbound.rt.hotfix
          - cmuhcdental.inbound.rt.hotfix
          - cmuhceiclaimsdenial.inbound.rt.hotfix
          - cmuhceifastpass.inbound.rt.hotfix
          - cmuhceiprime.inbound.rt.hotfix
          - cmuhceirouting.inbound.rt.hotfix
          - cmuhceispecialtyivr.inbound.rt.hotfix
          - cmuhcmrproviderrestriction.inbound.rt.hotfix
          - cmuhcmrrouting.inbound.rt.hotfix
          - cmuhcpacrouting.inbound.rt.hotfix
          - cmuhcrepeatcaller.inbound.rt.hotfix
          - cmuhcvision.inbound.rt.hotfix

      commit_description:
        description: 'commit description'
        required: true
        default: 'Default text'
        type: string

   

jobs:
  deploy:
    name: Fetch releases & deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4


      - name: Generate LOB, ENV, and JSON values
        run: |
          chmod +x ./scripts/generate_hidden_values.sh
          ./scripts/generate_hidden_values.sh

          
      - name: Print generated values
        run: |
          echo "LOB: $ACTIVE_LOB"
          echo "ENV: $ACTIVE_ENV"
          echo "JSON Config ID: $ACTIVE_JSON"


        



